{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href='{% static "bootstrap.css"%}'>
    <link rel="stylesheet" href='{% static "index.css"%}'>
    <script language="JavaScript" src='{% static "jquery.js" %}'></script>
    
</head>
<body>
    <div class="container-fluid col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/carpooling/view/home">Car Pooling App</a>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link" href="/carpooling/view/home">Home</a>
                <a class="nav-item nav-link" href="/carpooling/view/addTrip">Add a New Trip</a>
                <a class="nav-item nav-link" href="/carpooling/view/viewTrips">View Trips</a>
                <a class="nav-item nav-link active" href="/carpooling/view/myProfile">View profile</a>
                <a class="nav-item nav-link" href="/carpooling/api/logout">Logout</a>
              </div>
            </div>
          </nav>

          <div id="mainContainer">

            <div class="row mt-4">
                <div class="col-md-6 cardDiv">
                    <div class="row">
                        <p class="col-md-3"><b>User Name:</b></p>
                        <p class="col-md-3" id="uName"></p>
                    </div>

                    <div class="row">
                        <p class="col-md-3"><b>User Email:</b></p>
                        <p class="col-md-3" id="uEmail"></p>
                    </div>

                    <div class="row">
                        <p class="col-md-3"><b>User Mobile Number:</b></p>
                        <p class="col-md-3" id="uMob"></p>
                    </div>
                </div>
                
                <div class="col-md-6 cardDiv ml-5">
                    <div class="row">
                        <p class="col-md-3"><b>Total Trips:</b></p>
                        <p class="col-md-3" id="totalTrips"></p>
                    </div>
                    <div class="row">
                        <p class="col-md-3"><b>Average Ratings:</b></p>
                        <p class="col-md-3" id="avgRatings"></p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
            <div class="col-md-12 cardDiv">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Sr No.</th>
                        <th scope="col">Trip From</th>
                        <th scope="col">Trip To</th>
                        <th scope="col">Trip Date</th>
                        <th scope="col">Car Number</th>
                        <th scope="col">Trip Total Spots</th>
                        <th scope="col">Trip Charges Per Spot</th>
                        <th scope="col">Route Details</th>
                      </tr>
                    </thead>
                    <tbody id="tripTbody">
                    </tbody>
                </table>
            </div>
            </div>
          </div>
    </div>

    <script type='text/javascript'>
        console.log("script executed")
        let receivedData;
        let userData;
        let avgRatings;
        let totalTrips;
        let trips;
        let logged_in_user = -1
        $(document).ready(function(){
            
                $.ajax({
                    type: "GET",
                    url: "http://127.0.0.1:8000/carpooling/api/myProfile",
                    success: function(data){
                        console.log("data received: ", data)
                        userData = data.uData
                        avgRatings = data.avg_ratings
                        totalTrips = data.trip_details_count
                        trips = data.last_five_trips
                        //logged_in_user = data.logged_in_user
                        //homeScreenLister(data.data)
                        //console.log(data[2])
                        console.log(userData)
                        console.log(avgRatings)
                        console.log(totalTrips)
                        console.log(trips)
                        updateLeftProfileCard(userData)
                        updateRightProfileCard(avgRatings, totalTrips)
                        updateBottomTripsTable(trips)
                    }
                })
        })

        function updateLeftProfileCard(data){
            console.log(data[1])
            $("#uName").text(data[1])
            $("#uEmail").text(data[2])
            $("#uMob").text(data[3])
        }

        

        function updateRightProfileCard(avgRatings,totalTrips){
            $("#avgRatings").text(parseInt(avgRatings[0][0]).toString() + "/5")
            $("#totalTrips").text(totalTrips)
        }

        function updateBottomTripsTable(trips){
            let mainContainer = document.getElementById('tripTbody')
            for (let i = 0; i < trips.length; i++){
                let htmlObj = `
                <tr>
                    <td ><b>${i+1}</b></th>
                    <td >${trips[i][1]}</th>
                    <td >${trips[i][2]}</th>
                    <td >${trips[i][3]}</th>
                    <td >${trips[i][5]}</th>
                    <td >${trips[i][6]}</th>
                    <td >${trips[i][7]}</th>
                    <td >${trips[i][10]}</th>
                </tr> 
                ` ;
                var template = document.createElement('template');
                htmlObj = htmlObj.trim(); // Never return a text node of whitespace as the result
                template.innerHTML = htmlObj;

                mainContainer.appendChild(template.content.firstChild)

            }

        }
        
    </script>

</body>
</html>