{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "bootstrap.css"%}'>
    <title>Login Page</title>
    <style>
        #img-holder{
            background: url(../../static/images/login1.jpg);
            background-size: 100%;
        }

        
    </style>
</head>
<body>
    <div class="container col-md-12 d-flex justify-content-center" id="primary-container">
        

        <div class="col-md-6 mt-4">
            <h1 class="text-center">Car Pooling App</h1>
            <div class="card">
                <div class="card-body">
                    <form>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                        <label class="form-label" for="form2Example1">Email address</label>
                          <input type="email" id="email" class="form-control" />
                          
                        </div>
                      
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example2">Password</label>
                            <input type="password" id="password" class="form-control" />
                          
                        </div>
                          
                      
                        <!-- Submit button -->
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-warning btn-block mb-4 text-center" id="loginBtn">Login</button>
                        </div>
                        
                      
                        <!-- Register buttons -->
                        <div class="text-center">
                          <p>Not a member? <a href="/carpooling/view/signup">Register</a></p>
                
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4" id="img-holder">
        </div>
        
        
    </div>
    <script language="JavaScript" src='{% static "jquery.js" %}'></script>
    <script type='text/javascript'>
        console.log("script executed")
        $(document).ready(function(){
            console.log("jquery executed")
            $("#loginBtn").on('click', function(){
            console.log("inside login button clicked")
            let jsonData = {
                'email': $("#email").val(),
                'password': $("#password").val()
            }
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:8000/carpooling/api/login",
                data: JSON.stringify(jsonData),
                contentType: "application/json; charset=utf-8",
                success:function(){
                    window.location.replace("http://127.0.0.1:8000/carpooling/view/home");
                }

                })
            })
        })
        
        
    </script>
   
</body>
</html>